In [1]:
import string
import numpy as np
import pandas as pd
%config IPCompleter.greedy=True

In [2]:
def substrings_in_string(big_string, substrings):
	for substring in substrings:
		if string.find(big_string, substring) != -1:
			return substring

def replace_titles(x):
	title = x['Title']
	if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
		return 'Mr'
	elif title in ['Countess', 'Mme']:
		return 'Mrs'
	elif title in ['Mlle', 'Ms']:
		return 'Miss'
	elif title =='Dr':
		if x['Sex']=='Male':
			return 'Mr'
		else:
			return 'Mrs'
	else:
		return title

In [3]:
train_set = pd.read_csv("datasets/train.csv")

In [4]:
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

train_set['Title'] = train_set["Name"].map(lambda x: substrings_in_string(x, title_list))
train_set['Title'] = train_set.apply(replace_titles, axis =  1)

# Turn cabin into deck

train_set.Cabin = train_set.Cabin.fillna('Unknown')    
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
train_set['Deck']=train_set['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))

train_set[['Sex','Embarked','Title','Deck']].info()
#Embarked has 2 null

train_set.loc[pd.isnull(train_set["Embarked"])]
train_set.drop(['Name', 'Ticket','Cabin'], axis =1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
Sex         891 non-null object
Embarked    891 non-null object
Title       891 non-null object
Deck        891 non-null object
dtypes: object(4)
memory usage: 27.9+ KB

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,Deck
0,1,0,3,male,22.0,1,0,7.2500,S,Mr,Unknown
1,2,1,1,female,38.0,1,0,71.2833,C,Mrs,C
2,3,1,3,female,26.0,0,0,7.9250,S,Miss,Unknown
3,4,1,1,female,35.0,1,0,53.1000,S,Mrs,C
4,5,0,3,male,35.0,0,0,8.0500,S,Mr,Unknown
5,6,0,3,male,NaN,0,0,8.4583,Q,Mr,Unknown
6,7,0,1,male,54.0,0,0,51.8625,S,Mr,E
7,8,0,3,male,2.0,3,1,21.0750,S,Master,Unknown
8,9,1,3,female,27.0,0,2,11.1333,S,Mrs,Unknown
9,10,1,2,female,14.0,1,0,30.0708,C,Mrs,Unknown
10,11,1,3,female,4.0,1,1,16.7000,S,Miss,G
11,12,1,1,female,58.0,0,0,26.5500,S,Miss,C
12,13,0,3,male,20.0,0,0,8.0500,S,Mr,Unknown
13,14,0,3,male,39.0,1,5,31.2750,S,Mr,Unknown
14,15,0,3,female,14.0,0,0,7.8542,S,Miss,Unknown
15,16,1,2,female,55.0,0,0,16.0000,S,Mrs,Unknown
16,17,0,3,male,2.0,4,1,29.1250,Q,Master,Unknown
17,18,1,2,male,NaN,0,0,13.0000,S,Mr,Unknown
18,19,0,3,female,31.0,1,0,18.0000,S,Mrs,Unknown
19,20,1,3,female,NaN,0,0,7.2250,C,Mrs,Unknown
20,21,0,2,male,35.0,0,0,26.0000,S,Mr,Unknown
21,22,1,2,male,34.0,0,0,13.0000,S,Mr,D
22,23,1,3,female,15.0,0,0,8.0292,Q,Miss,Unknown
23,24,1,1,male,28.0,0,0,35.5000,S,Mr,A
24,25,0,3,female,8.0,3,1,21.0750,S,Miss,Unknown
25,26,1,3,female,38.0,1,5,31.3875,S,Mrs,Unknown
26,27,0,3,male,NaN,0,0,7.2250,C,Mr,Unknown
27,28,0,1,male,19.0,3,2,263.0000,S,Mr,C
28,29,1,3,female,NaN,0,0,7.8792,Q,Miss,Unknown
29,30,0,3,male,NaN,0,0,7.8958,S,Mr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,11.5000,S,Mr,Unknown
862,863,1,1,female,48.0,0,0,25.9292,S,Mrs,D
863,864,0,3,female,NaN,8,2,69.5500,S,Miss,Unknown
864,865,0,2,male,24.0,0,0,13.0000,S,Mr,Unknown
865,866,1,2,female,42.0,0,0,13.0000,S,Mrs,Unknown
866,867,1,2,female,27.0,1,0,13.8583,C,Miss,Unknown
867,868,0,1,male,31.0,0,0,50.4958,S,Mr,A
868,869,0,3,male,NaN,0,0,9.5000,S,Mr,Unknown
869,870,1,3,male,4.0,1,1,11.1333,S,Master,Unknown
870,871,0,3,male,26.0,0,0,7.8958,S,Mr,Unknown
871,872,1,1,female,47.0,1,1,52.5542,S,Mrs,D
872,873,0,1,male,33.0,0,0,5.0000,S,Mr,B
873,874,0,3,male,47.0,0,0,9.0000,S,Mr,Unknown
874,875,1,2,female,28.0,1,0,24.0000,C,Mrs,Unknown
875,876,1,3,female,15.0,0,0,7.2250,C,Miss,Unknown
876,877,0,3,male,20.0,0,0,9.8458,S,Mr,Unknown
877,878,0,3,male,19.0,0,0,7.8958,S,Mr,Unknown
878,879,0,3,male,NaN,0,0,7.8958,S,Mr,Unknown
879,880,1,1,female,56.0,0,1,83.1583,C,Mrs,C
880,881,1,2,female,25.0,0,1,26.0000,S,Mrs,Unknown
881,882,0,3,male,33.0,0,0,7.8958,S,Mr,Unknown
882,883,0,3,female,22.0,0,0,10.5167,S,Miss,Unknown
883,884,0,2,male,28.0,0,0,10.5000,S,Mr,Unknown
884,885,0,3,male,25.0,0,0,7.0500,S,Mr,Unknown
885,886,0,3,female,39.0,0,5,29.1250,Q,Mrs,Unknown
886,887,0,2,male,27.0,0,0,13.0000,S,Mr,Unknown
887,888,1,1,female,19.0,0,0,30.0000,S,Miss,B
888,889,0,3,female,NaN,1,2,23.4500,S,Miss,Unknown
889,890,1,1,male,26.0,0,0,30.0000,C,Mr,C
890,891,0,3,male,32.0,0,0,7.7500,Q,Mr,Unknown

In [5]:
from sklearn.preprocessing import LabelEncoder

le_sex = LabelEncoder()
sex_numerical = le_sex.fit_transform(train_set['Sex'])
sex_numerical_classes = le_sex.classes_

le_title = LabelEncoder()
title_numerical = le_title.fit_transform(train_set['Title'])
title_numerical_classes = le_title.classes_

le_deck = LabelEncoder()
deck_numerical = le_deck.fit_transform(train_set['Deck'])
deck_numerical_classes = le_deck.classes_

print('Classes of Sex feature:\n{}\n{}'.format(
        np.arange(len(sex_numerical_classes)), sex_numerical_classes))
print('')
print('Classes of Title feature:\n{}\n{}'.format(
        np.arange(len(title_numerical_classes)), title_numerical_classes))
print('')
print('Classes of Cabin_cat feature:\n{}\n{}'.format(
        np.arange(len(deck_numerical_classes)), deck_numerical_classes))

Classes of Sex feature:
[0 1]
['female' 'male']

Classes of Title feature:
[0 1 2 3]
['Master' 'Miss' 'Mr' 'Mrs']

Classes of Cabin_cat feature:
[0 1 2 3 4 5 6 7 8]
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'T' 'Unknown']

In [6]:
from sklearn.preprocessing import OneHotEncoder

# Sex feature
enc_sex = OneHotEncoder(sparse=False)
sex_onehot = enc_sex.fit_transform(sex_numerical.reshape(-1,1))

# Title feature
enc_title = OneHotEncoder(sparse=False)
title_onehot = enc_title.fit_transform(title_numerical.reshape(-1,1))

# Cabin_cat feature
enc_deck = OneHotEncoder(sparse=False)
deck_onehot = enc_deck.fit_transform(deck_numerical.reshape(-1,1))

In [7]:
def pdAssignWithOHLabel(df, column, onehot_labeled, class_labels):
    to_assign = {}
    for c_idx, label in enumerate(class_labels):
        to_assign[column+'_'+label] = onehot_labeled[:,c_idx]
    df = df.assign(**to_assign)
    return df

In [8]:
train_set = pdAssignWithOHLabel(train_set, 'Sex', 
                                 sex_onehot, sex_numerical_classes)
train_set = train_set.drop("Sex",axis=1)

train_set = pdAssignWithOHLabel(train_set, 'Title', 
                                 title_onehot, title_numerical_classes)
train_set = train_set.drop("Title",axis=1)
train_set = pdAssignWithOHLabel(train_set, 'Deck', 
                                 deck_onehot, deck_numerical_classes)
train_set = train_set.drop("Deck",axis=1)

train_set = train_set.drop(["Name","Ticket","Cabin"],axis=1)
train_set.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male,...,Title_Mrs,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Deck_Unknown
0,1,0,3,22.0,1,0,7.2500,S,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,1,1,38.0,1,0,71.2833,C,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,3,26.0,0,0,7.9250,S,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,1,1,35.0,1,0,53.1000,S,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0,3,35.0,0,0,8.0500,S,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
mu = train_set['Fare'].mean()
sd = train_set['Fare'].std()

row_mask = train_set['Fare']>mu+5*sd
train_set.set_value(row_mask, 'Fare', mu+5*sd);

C:\Users\bills\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [10]:
from sklearn.preprocessing import StandardScaler
sc_tmp = StandardScaler()
tmp_scaled = train_set.copy().drop(['Embarked','Age','Survived'], axis=1) # create a copy of the data
tmp_scaled = pd.DataFrame(sc_tmp.fit_transform(tmp_scaled),columns=tmp_scaled.columns, index=tmp_scaled.index)

# Add the non-scaled features to this temporary DataFrame
tmp_scaled = tmp_scaled.assign(Survived=train_set['Survived'])
tmp_scaled = tmp_scaled.assign(Embarked=train_set['Embarked'])
tmp_scaled = tmp_scaled.assign(Age=train_set['Age'])

In [11]:
from sklearn.neighbors import KDTree
tmp = tmp_scaled.copy().drop(['Survived','Age','Embarked'], axis=1).values
row_idx = pd.isnull(train_set['Embarked'])
tree = KDTree(tmp)
dist, ind = tree.query(tmp[[62, 830]], k=6) 
# The k nearest neighbors include the passenger itself, 
# so we specify k=6 to get the 5 nearest neighbors
for i in ind:
    print('5 closest neigbors to passenger {} and their values for Embarked:\n{}\n'\
          .format(i[0], train_set['Embarked'].loc[i[1:]]))

5 closest neigbors to passenger 62 and their values for Embarked:
224    S
137    S
336    S
110    S
55     S
Name: Embarked, dtype: object

5 closest neigbors to passenger 830 and their values for Embarked:
617    S
797    S
578    C
559    S
874    C
Name: Embarked, dtype: object

In [12]:
#Label Encoder
le_embarked = LabelEncoder()
embarked_numerical = le_embarked.fit_transform(train_set['Embarked'])
embarked_numerical_classes = le_embarked.classes_
print('Classes of Embarked feature:\n{}\n{}'.format(
        np.arange(len(embarked_numerical_classes)), 
        embarked_numerical_classes))
#One hot encoder
enc_embarked = OneHotEncoder(sparse=False)
embarked_onehot = enc_embarked.fit_transform(embarked_numerical.reshape(-1,1))


train_set = pdAssignWithOHLabel(train_set, 'Embarked', 
                                 embarked_onehot, embarked_numerical_classes)

tmp_scaled = pdAssignWithOHLabel(tmp_scaled, 'Embarked', embarked_onehot, 
                                 embarked_numerical_classes)
train_set = train_set.drop("Embarked",axis=1)

Classes of Embarked feature:
[0 1 2]
['C' 'Q' 'S']

In [13]:
sc_tmp = StandardScaler()
tmp = tmp_scaled[['Embarked_C', 'Embarked_Q', 'Embarked_S']].copy()
tmp = pd.DataFrame(sc_tmp.fit_transform(tmp),columns=tmp.columns, index=tmp.index)

# Drop the unscaled features from train_data 
tmp_scaled = tmp_scaled.drop(['Embarked_C', 'Embarked_Q', 'Embarked_S'], 
                             axis=1)

# Assign the scaled features to train_data
tmp_scaled = tmp_scaled.assign(Embarked_C=tmp['Embarked_C'])
tmp_scaled = tmp_scaled.assign(Embarked_Q=tmp['Embarked_Q'])
tmp_scaled = tmp_scaled.assign(Embarked_S=tmp['Embarked_S'])

In [14]:
def knnImpute(ori_arr, tmp_imp_arr, feature, k=6): # improved one
    from sklearn.neighbors import KDTree
    row_idx = ori_arr[pd.isnull(ori_arr[feature])].index.tolist()
    tree = KDTree(tmp_imp_arr) # tmp_arr is the array without 
                           # the null-containing feature
    #row_idx = np.add(row_idx, -1)
    for nan_v in row_idx:
        # Uncomment print statements below to get some more insight
        print('Passenger: {}'.format(nan_v))
        dist, ind = tree.query(tmp_imp_arr[nan_v,:].reshape(1,-1), k)
        print(tmp_imp_arr[nan_v,:])
        print(ind[0])
        nn_vals = ori_arr[feature].loc[ind[0][1:]]
        imp_val = np.floor(np.nanmean(nn_vals))+0.5 
        # Per the documentation on this Kaggle data set, estimated
        # 'Age' values are of the form x.5
        
        print('{} closest neigbors to passenger {} and their values for ' \
        'Age:\n{}\n'.format(k-1, nan_v, ori_arr[feature].loc[ind[0]]))
        print('Imputed value would be {}\n'.format(imp_val))
        ori_arr.set_value(nan_v, feature, imp_val)
    return ori_arr

In [15]:
tmp_imp = tmp_scaled.copy().drop(['Age', 'Embarked'], axis = 1).values
train_set = knnImpute(train_set, tmp_imp, 'Age', 8)
print('New number of null values in "Age" column: {}'.format(
    pd.isnull(train_set['Age']).sum()))

Passenger: 5
[-1.71066854  0.82737724 -0.4745452  -0.47367361 -0.52718504 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[  5 116 126 143 196  46 260 280]
7 closest neigbors to passenger 5 and their values for Age:
5       NaN
116    70.5
126     NaN
143    19.0
196     NaN
46      NaN
260     NaN
280    65.0
Name: Age, dtype: float64

Imputed value would be 51.5

Passenger: 17
[-1.66401395 -0.36936484 -0.4745452  -0.47367361 -0.42292983 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[ 17 226  33  70  20 288 134 144]
7 closest neigbors to passenger 17 and their values for Age:
17      NaN
226    19.0
33     66.0
70     32.0
20     35.0
288    42.0
134    25.0
144    18.0
Name: Age, dtype: float64

Imputed value would be 33.5

Passenger: 19
[-1.65623818  0.82737724 -0.4745452  -0.47367361 -0.55549557  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[ 19 367   9 362 578 255 140 256]
7 closest neigbors to passenger 19 and their values for Age:
19      NaN
367     NaN
9      14.0
362    45.0
578     NaN
255    29.0
140     NaN
256     NaN
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 26
[-1.629023    0.82737724 -0.4745452  -0.47367361 -0.55549557 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[ 26  42  57  60 130 203 244  73]
7 closest neigbors to passenger 26 and their values for Age:
26      NaN
42      NaN
57     28.5
60     22.0
130    33.0
203    45.5
244    30.0
73     26.0
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 28
[-1.62124723  0.82737724 -0.4745452  -0.47367361 -0.54047834  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[ 28  32  22  44  47  82 156 198]
7 closest neigbors to passenger 28 and their values for Age:
28      NaN
32      NaN
22     15.0
44     19.0
47      NaN
82      NaN
156    16.0
198     NaN
Name: Age, dtype: float64

Imputed value would be 16.5

Passenger: 29
[-1.61735935  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[29 37 45 12 51  4 67 76]
7 closest neigbors to passenger 29 and their values for Age:
29     NaN
37    21.0
45     NaN
12    20.0
51    21.0
4     35.0
67    19.0
76     NaN
Name: Age, dtype: float64

Imputed value would be 23.5

Passenger: 31
[-1.60958358 -1.56610693  0.43279337 -0.47367361  2.64205439  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
  4.23762278 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.          2.0745051  -0.30756234 -1.62380254]
[ 31 291 369 194 299 523 195 329]
7 closest neigbors to passenger 31 and their values for Age:
31      NaN
291    19.0
369    24.0
194    44.0
299    50.0
523    44.0
195    58.0
329    16.0
Name: Age, dtype: float64

Imputed value would be 36.5

Passenger: 32
[-1.6056957   0.82737724 -0.4745452  -0.47367361 -0.54344414  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[ 32  28  22  44  47  82 156 198]
7 closest neigbors to passenger 32 and their values for Age:
32      NaN
28     16.5
22     15.0
44     19.0
47      NaN
82      NaN
156    16.0
198     NaN
Name: Age, dtype: float64

Imputed value would be 16.5

Passenger: 36
[-1.59014417  0.82737724 -0.4745452  -0.47367361 -0.55539916 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[ 36 207  42  26  57  60 130 203]
7 closest neigbors to passenger 36 and their values for Age:
36      NaN
207    26.0
42      NaN
26     30.5
57     28.5
60     22.0
130    33.0
203    45.5
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 42
[-1.56681687  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[ 42  57  26  60 130 203 244  73]
7 closest neigbors to passenger 42 and their values for Age:
42      NaN
57     28.5
26     30.5
60     22.0
130    33.0
203    45.5
244    30.0
73     26.0
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 45
[-1.55515322  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[45 51 37 29 67 76 77 12]
7 closest neigbors to passenger 45 and their values for Age:
45     NaN
51    21.0
37    21.0
29    23.5
67    19.0
76     NaN
77     NaN
12    20.0
Name: Age, dtype: float64

Imputed value would be 20.5

Passenger: 46
[-1.55126534  0.82737724  0.43279337 -0.47367361 -0.36554206 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[ 46 214   5 116 126 143 196 364]
7 closest neigbors to passenger 46 and their values for Age:
46      NaN
214     NaN
5      51.5
116    70.5
126     NaN
143    19.0
196     NaN
364     NaN
Name: Age, dtype: float64

Imputed value would be 47.5

Passenger: 47
[-1.54737745  0.82737724 -0.4745452  -0.47367361 -0.54344414  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[ 47  44  32  28  22  82 156 198]
7 closest neigbors to passenger 47 and their values for Age:
47      NaN
44     19.0
32     16.5
28     16.5
22     15.0
82      NaN
156    16.0
198     NaN
Name: Age, dtype: float64

Imputed value would be 16.5

Passenger: 48
[-1.54348957  0.82737724  1.34013193 -0.47367361 -0.22369786 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[ 48  73 122 308  42  57  60  26]
7 closest neigbors to passenger 48 and their values for Age:
48      NaN
73     26.0
122    32.5
308    30.0
42     30.5
57     28.5
60     22.0
26     30.5
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 55
[-1.51627439 -1.56610693 -0.4745452  -0.47367361  0.09356008 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268 -0.30756234  0.61583843]
[ 55 298 110 252 137 430 331 351]
7 closest neigbors to passenger 55 and their values for Age:
55      NaN
298     NaN
110    47.0
252    62.0
137    37.0
430    28.0
331    45.5
351     NaN
Name: Age, dtype: float64

Imputed value would be 43.5

Passenger: 64
[-1.48128344 -1.56610693 -0.4745452  -0.47367361 -0.08501229 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[ 64  30 295 135 181 155 122  34]
7 closest neigbors to passenger 64 and their values for Age:
64      NaN
30     40.0
295     NaN
135    23.0
181     NaN
155    51.0
122    32.5
34     28.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 65
[-1.47739556  0.82737724  0.43279337  0.76762988 -0.37137725 -0.73769513
  0.73769513  4.61248306 -0.50665528 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[ 65 125 709 803 348 827 165 489]
7 closest neigbors to passenger 65 and their values for Age:
65       NaN
125    12.00
709      NaN
803     0.42
348     3.00
827     1.00
165     9.00
489     9.00
Name: Age, dtype: float64

Imputed value would be 5.5

Passenger: 76
[-1.43462885  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[76 77 80 67 87 89 90 91]
7 closest neigbors to passenger 76 and their values for Age:
76     NaN
77     NaN
80    22.0
67    19.0
87     NaN
89    24.0
90    29.0
91    20.0
Name: Age, dtype: float64

Imputed value would be 22.5

Passenger: 77
[-1.43074096  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[77 76 80 87 67 89 90 91]
7 closest neigbors to passenger 77 and their values for Age:
77     NaN
76    22.5
80    22.0
87     NaN
67    19.0
89    24.0
90    29.0
91    20.0
Name: Age, dtype: float64

Imputed value would be 22.5

Passenger: 82
[-1.41130155  0.82737724 -0.4745452  -0.47367361 -0.54258332  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[ 82  47  44  32  28  22 156 198]
7 closest neigbors to passenger 82 and their values for Age:
82      NaN
47     16.5
44     19.0
32     16.5
28     16.5
22     15.0
156    16.0
198     NaN
Name: Age, dtype: float64

Imputed value would be 16.5

Passenger: 87
[-1.39186213  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[87 89 90 91 95 94 80 77]
7 closest neigbors to passenger 87 and their values for Age:
87     NaN
89    24.0
90    29.0
91    20.0
95     NaN
94    59.0
80    22.0
77    22.5
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 95
[-1.36075907  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[ 95  91  94  90  89 101  87 103]
7 closest neigbors to passenger 95 and their values for Age:
95      NaN
91     20.0
94     59.0
90     29.0
89     24.0
101     NaN
87     29.5
103    33.0
Name: Age, dtype: float64

Imputed value would be 32.5

Passenger: 101
[-1.33743177  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[101 105 103  95 108  94  91 112]
7 closest neigbors to passenger 101 and their values for Age:
101     NaN
105    28.0
103    33.0
95     32.5
108    38.0
94     59.0
91     20.0
112    22.0
Name: Age, dtype: float64

Imputed value would be 33.5

Passenger: 107
[-1.31410447  0.82737724 -0.4745452  -0.47367361 -0.54287026 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[107 127  81 146 204 220 271 283]
7 closest neigbors to passenger 107 and their values for Age:
107     NaN
127    24.0
81     29.0
146    27.0
204    18.0
220    16.0
271    25.0
283    19.0
Name: Age, dtype: float64

Imputed value would be 22.5

Passenger: 109
[-1.3063287   0.82737724  0.43279337 -0.47367361 -0.16698039  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[109 241  82 156  47  44  32  28]
7 closest neigbors to passenger 109 and their values for Age:
109     NaN
241     NaN
82     16.5
156    16.0
47     16.5
44     19.0
32     16.5
28     16.5
Name: Age, dtype: float64

Imputed value would be 16.5

Passenger: 121
[-1.25967411  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[121 115 112 129 131 108 105 138]
7 closest neigbors to passenger 121 and their values for Age:
121     NaN
115    21.0
112    22.0
129    45.0
131    20.0
108    38.0
105    28.0
138    16.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 126
[-1.24023469  0.82737724 -0.4745452  -0.47367361 -0.54344414 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[126 116 143 196   5 260 280 214]
7 closest neigbors to passenger 126 and their values for Age:
126     NaN
116    70.5
143    19.0
196     NaN
5      51.5
260     NaN
280    65.0
214     NaN
Name: Age, dtype: float64

Imputed value would be 51.5

Passenger: 128
[-1.23245893  0.82737724  0.43279337  0.76762988 -0.20810905  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614  5.09901951 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.          2.0745051  -0.30756234 -1.62380254]
[128 309 835 337 123 356 717 303]
7 closest neigbors to passenger 128 and their values for Age:
128     NaN
309    30.0
835    39.0
337    41.0
123    32.5
356    22.0
717    27.0
303     NaN
Name: Age, dtype: float64

Imputed value would be 31.5

Passenger: 140
[-1.18580433  0.82737724 -0.4745452   2.00893337 -0.37137725  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[140 255 362 533 608  19 367   9]
7 closest neigbors to passenger 140 and their values for Age:
140     NaN
255    29.0
362    45.0
533     NaN
608    22.0
19     29.5
367     NaN
9      14.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 154
[-1.13137397  0.82737724 -0.4745452  -0.47367361 -0.553487   -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[154 152 157 162 158 163 173 138]
7 closest neigbors to passenger 154 and their values for Age:
154     NaN
152    55.5
157    30.0
162    26.0
158     NaN
163    17.0
173    21.0
138    16.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 158
[-1.11582244  0.82737724 -0.4745452  -0.47367361 -0.5224976  -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[158 157 163 162 152 154 173 138]
7 closest neigbors to passenger 158 and their values for Age:
158     NaN
157    30.0
163    17.0
162    26.0
152    55.5
154    27.5
173    21.0
138    16.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 159
[-1.11193455  0.82737724  6.7841633   2.00893337  0.87518146 -0.73769513
  0.73769513  4.61248306 -0.50665528 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[159  59 386 480 182 261 164  50]
7 closest neigbors to passenger 159 and their values for Age:
159     NaN
59     11.0
386     1.0
480     9.0
182     9.0
261     3.0
164     1.0
50      7.0
Name: Age, dtype: float64

Imputed value would be 5.5

Passenger: 166
[-1.08471937 -1.56610693 -0.4745452   0.76762988  0.54118466  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614  5.09901951 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268 -0.30756234  0.61583843]
[166 558 577 809 772 823 356 319]
7 closest neigbors to passenger 166 and their values for Age:
166     NaN
558    39.0
577    39.0
809    33.0
772    57.0
823    27.0
356    22.0
319    40.0
Name: Age, dtype: float64

Imputed value would be 36.5

Passenger: 168
[-1.0769436  -1.56610693 -0.4745452  -0.47367361 -0.12623507 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[168 270  83 187 467  35 178 149]
7 closest neigbors to passenger 168 and their values for Age:
168     NaN
270     NaN
83     28.0
187    45.0
467    56.0
35     42.0
178    30.0
149    42.0
Name: Age, dtype: float64

Imputed value would be 40.5

Passenger: 176
[-1.04584054  0.82737724  2.24747049  0.76762988 -0.1367554  -0.73769513
  0.73769513  4.61248306 -0.50665528 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[176   7 164  50  63 182 261 348]
7 closest neigbors to passenger 176 and their values for Age:
176    NaN
7      2.0
164    1.0
50     7.0
63     4.0
182    9.0
261    3.0
348    3.0
Name: Age, dtype: float64

Imputed value would be 4.5

Passenger: 180
[-1.03028901  0.82737724  6.7841633   2.00893337  0.87518146  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[180 792 863  71 119 233 541 542]
7 closest neigbors to passenger 180 and their values for Age:
180     NaN
792     NaN
863     NaN
71     16.0
119     2.0
233     5.0
541     9.0
542    11.0
Name: Age, dtype: float64

Imputed value would be 8.5

Passenger: 181
[-1.02640113 -0.36936484 -0.4745452  -0.47367361 -0.37587186 -0.73769513

C:\Users\bills\Anaconda2\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

[-0.55985516  0.82737724  1.34013193 -0.47367361 -0.18763998 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[301 364 214  46 188 510 280 260]
7 closest neigbors to passenger 301 and their values for Age:
301     NaN
364     NaN
214    46.5
46     47.5
188    40.0
510    29.0
280    65.0
260    51.5
Name: Age, dtype: float64

Imputed value would be 46.5

Passenger: 303
[-0.55207939 -0.36936484 -0.4745452  -0.47367361 -0.43785065  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614  5.09901951 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268  3.25137334 -1.62380254]
[303 123 717 356 309 128 337 585]
7 closest neigbors to passenger 303 and their values for Age:
303     NaN
123    32.5
717    27.0
356    22.0
309    30.0
128    31.5
337    41.0
585    18.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 304
[-0.54819151  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[304 313 294 320 287 321 281 282]
7 closest neigbors to passenger 304 and their values for Age:
304     NaN
313    28.0
294    24.0
320    22.0
287    22.0
321    27.0
281    28.0
282    16.0
Name: Age, dtype: float64

Imputed value would be 23.5

Passenger: 306
[-0.54041574 -1.56610693 -0.4745452  -0.47367361  1.82399178  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[306 537 389 380 842 866  43 290]
7 closest neigbors to passenger 306 and their values for Age:
306     NaN
537    30.0
389    17.0
380    42.0
842    30.0
866    27.0
43      3.0
290    26.0
Name: Age, dtype: float64

Imputed value would be 25.5

Passenger: 324
[-0.47043385  0.82737724  6.7841633   2.00893337  0.87518146 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[324 201 846 683 266 686 180 792]
7 closest neigbors to passenger 324 and their values for Age:
324     NaN
201    13.5
846     NaN
683    14.0
266    16.0
686    14.0
180     8.5
792     NaN
Name: Age, dtype: float64

Imputed value would be 13.5

Passenger: 330
[-0.44710655  0.82737724  1.34013193 -0.47367361 -0.18763998  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[330 241 109 612 358 359 300 368]
7 closest neigbors to passenger 330 and their values for Age:
330     NaN
241    17.5
109    16.5
612     NaN
358     NaN
359     NaN
300    18.5
368     NaN
Name: Age, dtype: float64

Imputed value would be 17.5

Passenger: 334
[-0.43155502 -1.56610693  0.43279337 -0.47367361  2.34660381  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[334 383 856 316 426 432 518 133]
7 closest neigbors to passenger 334 and their values for Age:
334     NaN
383    35.0
856    45.0
316    24.0
426    28.0
432    42.0
518    36.0
133    29.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 335
[-0.42766714  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[335 326 321 349 320 350 313 355]
7 closest neigbors to passenger 335 and their values for Age:
335     NaN
326    61.0
321    27.0
349    42.0
320    22.0
350    23.0
313    28.0
355    28.0
Name: Age, dtype: float64

Imputed value would be 33.5

Passenger: 347
[-0.38101254  0.82737724  0.43279337 -0.47367361 -0.351769    1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[347 431 142 559 483 316 328 426]
7 closest neigbors to passenger 347 and their values for Age:
347     NaN
431     NaN
142    24.0
559    36.0
483    63.0
316    24.0
328    31.0
426    28.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 351
[-0.36546101 -1.56610693 -0.4745452  -0.47367361  0.08208252 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    0.         -0.48204268 -0.30756234  0.61583843]
[351 331 252 492 110 298 430 449]
7 closest neigbors to passenger 351 and their values for Age:
351     NaN
331    45.5
252    62.0
492    55.0
110    47.0
298    47.5
430    28.0
449    52.0
Name: Age, dtype: float64

Imputed value would be 48.5

Passenger: 354
[-0.35379736  0.82737724 -0.4745452  -0.47367361 -0.55549557 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[354 378 296 420 285 244 495 203]
7 closest neigbors to passenger 354 and their values for Age:
354     NaN
378    20.0
296    23.5
420     NaN
285    33.0
244    30.0
495     NaN
203    45.5
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 358
[-0.33824583  0.82737724 -0.4745452  -0.47367361 -0.54047834  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[358 359 368 300 289 274 208 198]
7 closest neigbors to passenger 358 and their values for Age:
358     NaN
359     NaN
368     NaN
300    18.5
289    22.0
274    18.5
208    16.0
198    17.5
Name: Age, dtype: float64

Imputed value would be 18.5

Passenger: 359
[-0.33435794  0.82737724 -0.4745452  -0.47367361 -0.54047834  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[359 358 368 300 289 274 208 198]
7 closest neigbors to passenger 359 and their values for Age:
359     NaN
358    18.5
368     NaN
300    18.5
289    22.0
274    18.5
208    16.0
198    17.5
Name: Age, dtype: float64

Imputed value would be 18.5

Passenger: 364
[-0.31491853  0.82737724  0.43279337 -0.47367361 -0.36554206 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[364 214 388 411 421 428 280 459]
7 closest neigbors to passenger 364 and their values for Age:
364     NaN
214    46.5
388     NaN
411     NaN
421    21.0
428     NaN
280    65.0
459     NaN
Name: Age, dtype: float64

Imputed value would be 44.5

Passenger: 367
[-0.30325488  0.82737724 -0.4745452  -0.47367361 -0.55539916  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[367  19 578 362 830   9 874 255]
7 closest neigbors to passenger 367 and their values for Age:
367     NaN
19     29.5
578     NaN
362    45.0
830    15.0
9      14.0
874    28.0
255    29.0
Name: Age, dtype: float64

Imputed value would be 26.5

Passenger: 368
[-0.29936699  0.82737724 -0.4745452  -0.47367361 -0.54344414  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[368 359 358 300 289 274 208 198]
7 closest neigbors to passenger 368 and their values for Age:
368     NaN
359    18.5
358    18.5
300    18.5
289    22.0
274    18.5
208    16.0
198    17.5
Name: Age, dtype: float64

Imputed value would be 18.5

Passenger: 375
[-0.27215181 -1.56610693  0.43279337 -0.47367361  1.16489327  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[375 513 256   9 874 608 367 578]
7 closest neigbors to passenger 375 and their values for Age:
375     NaN
513    54.0
256    34.5
9      14.0
874    28.0
608    22.0
367    26.5
578     NaN
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 384
[-0.23716087  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[384 382 379 395 372 401 365 363]
7 closest neigbors to passenger 384 and their values for Age:
384     NaN
382    32.0
379    19.0
395    22.0
372    19.0
401    26.0
365    30.0
363    35.0
Name: Age, dtype: float64

Imputed value would be 26.5

Passenger: 388
[-0.22160933  0.82737724 -0.4745452  -0.47367361 -0.5439216  -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[388 411 421 428 459 468 280 260]
7 closest neigbors to passenger 388 and their values for Age:
388     NaN
411     NaN
421    21.0
428     NaN
459     NaN
468     NaN
280    65.0
260    51.5
Name: Age, dtype: float64

Imputed value would be 45.5

Passenger: 409
[-0.13996379  0.82737724  2.24747049  0.76762988 -0.1367554   1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[409 374 485 229  24 634 642 436]
7 closest neigbors to passenger 409 and their values for Age:
409     NaN
374     3.0
485     NaN
229     8.5
24      8.0
634     9.0
642     2.0
436    21.0
Name: Age, dtype: float64

Imputed value would be 8.5

Passenger: 410
[-0.13607591  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[410 408 406 401 422 395 425 433]
7 closest neigbors to passenger 410 and their values for Age:
410     NaN
408    21.0
406    51.0
401    26.0
422    29.0
395    22.0
425     NaN
433    17.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 411
[-0.13218802  0.82737724 -0.4745452  -0.47367361 -0.56391321 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[411 421 428 388 459 468 525 280]
7 closest neigbors to passenger 411 and their values for Age:
411     NaN
421    21.0
428     NaN
388    45.5
459     NaN
468     NaN
525    40.5
280    65.0
Name: Age, dtype: float64

Imputed value would be 43.5

Passenger: 413
[-0.12441226 -0.36936484 -0.4745452  -0.47367361 -0.72134622 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[413 466 439 481 418 463 344 343]
7 closest neigbors to passenger 413 and their values for Age:
413     NaN
466     NaN
439    31.0
481     NaN
418    30.0
463    48.0
344    36.0
343    25.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 415
[-0.11663649  0.82737724 -0.4745452  -0.47367361 -0.53655761  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[415 483 617 431 347 132 199 559]
7 closest neigbors to passenger 415 and their values for Age:
415     NaN
483    63.0
617    26.0
431     NaN
347    34.5
132    47.0
199    24.0
559    36.0
Name: Age, dtype: float64

Imputed value would be 38.5

Passenger: 420
[-0.09719708  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[420 378 354 495 522 524 531 296]
7 closest neigbors to passenger 420 and their values for Age:
420     NaN
378    20.0
354    30.5
495     NaN
522     NaN
524     NaN
531     NaN
296    23.5
Name: Age, dtype: float64

Imputed value would be 24.5

Passenger: 425
[-0.07775766  0.82737724 -0.4745452  -0.47367361 -0.55492169 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[425 422 433 410 408 406 441 401]
7 closest neigbors to passenger 425 and their values for Age:
425     NaN
422    29.0
433    17.0
410    27.5
408    21.0
406    51.0
441    20.0
401    26.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 428
[-0.06609401  0.82737724 -0.4745452  -0.47367361 -0.54344414 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[428 421 411 459 388 468 525 552]
7 closest neigbors to passenger 428 and their values for Age:
428     NaN
421    21.0
411    43.5
459     NaN
388    45.5
468     NaN
525    40.5
552     NaN
Name: Age, dtype: float64

Imputed value would be 37.5

Passenger: 431
[-0.05443036  0.82737724  0.43279337 -0.47367361 -0.351769    1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[431 347 559 483 142 432 426 617]
7 closest neigbors to passenger 431 and their values for Age:
431     NaN
347    34.5
559    36.0
483    63.0
142    24.0
432    42.0
426    28.0
617    26.0
Name: Age, dtype: float64

Imputed value would be 36.5

Passenger: 444
[-0.00388788  0.82737724 -0.4745452  -0.47367361 -0.53512291 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[444 414 400 391 338 569 579 286]
7 closest neigbors to passenger 444 and their values for Age:
444     NaN
414    44.0
400    39.0
391    21.0
338    45.0
569    32.0
579    32.0
286    30.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 451
[ 0.0233273   0.82737724  0.43279337 -0.47367361 -0.26300849 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[451 490 403 442 477 353 371 605]
7 closest neigbors to passenger 451 and their values for Age:
451     NaN
490     NaN
403    28.0
442    25.0
477    29.0
353    25.0
371    18.0
605    36.0
Name: Age, dtype: float64

Imputed value would be 26.5

Passenger: 454
[ 0.03499095  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[454 461 464 465 441 470 471 433]
7 closest neigbors to passenger 454 and their values for Age:
454     NaN
461    34.0
464     NaN
465    38.0
441    20.0
470     NaN
471    38.0
433    17.0
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 457
[ 0.0466546  -1.56610693  0.43279337 -0.47367361  0.46916301  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582  5.09901951 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268 -0.30756234  0.61583843]
[457 765 796 327 862 871 366 591]
7 closest neigbors to passenger 457 and their values for Age:
457     NaN
765    51.0
796    49.0
327    36.0
862    48.0
871    47.0
366    60.0
591    52.0
Name: Age, dtype: float64

Imputed value would be 49.5

Passenger: 459
[ 0.05443036  0.82737724 -0.4745452  -0.47367361 -0.54344414 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[459 468 428 421 411 525 388 552]
7 closest neigbors to passenger 459 and their values for Age:
459     NaN
468     NaN
428    37.5
421    21.0
411    43.5
525    40.5
388    45.5
552     NaN
Name: Age, dtype: float64

Imputed value would be 37.5

Passenger: 464
[ 0.07386978  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[464 461 465 470 471 454 478 482]
7 closest neigbors to passenger 464 and their values for Age:
464     NaN
461    34.0
465    38.0
470     NaN
471    38.0
454    29.5
478    22.0
482    50.0
Name: Age, dtype: float64

Imputed value would be 35.5

Passenger: 466
[ 0.08164554 -0.36936484 -0.4745452  -0.47367361 -0.72134622 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[466 481 413 439 463 418 562 344]
7 closest neigbors to passenger 466 and their values for Age:
466     NaN
481     NaN
413    34.5
439    31.0
463    48.0
418    30.0
562    28.0
344    36.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 468
[ 0.08942131  0.82737724 -0.4745452  -0.47367361 -0.54401802 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[468 459 428 421 525 411 388 552]
7 closest neigbors to passenger 468 and their values for Age:
468     NaN
459    37.5
428    37.5
421    21.0
525    40.5
411    43.5
388    45.5
552     NaN
Name: Age, dtype: float64

Imputed value would be 37.5


7 closest neigbors to passenger 578 and their values for Age:
578     NaN
830    15.0
367    26.5
362    45.0
874    28.0
19     29.5
9      14.0
513    54.0
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 584
[ 0.54041574  0.82737724 -0.4745452  -0.47367361 -0.52134985 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[584 598 568 531 524 522 661 495]
7 closest neigbors to passenger 584 and their values for Age:
584     NaN
598     NaN
568    27.5
531    24.5
524    24.5
522    24.5
661    40.0
495    24.5
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 589
[ 0.55985516  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[589 588 590 592 601 603 574 606]
7 closest neigbors to passenger 589 and their values for Age:
589     NaN
588    22.0
590    35.0
592    47.0
601     NaN
603    44.0
574    16.0
606    30.0
Name: Age, dtype: float64

Imputed value would be 32.5

Passenger: 593
[ 0.57540669  0.82737724 -0.4745452   2.00893337 -0.54344414  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[593 654 680 502 501 767 573 653]
7 closest neigbors to passenger 593 and their values for Age:
593     NaN
654    18.0
680     NaN
502    21.5
501    21.0
767    30.5
573    18.5
653     NaN
Name: Age, dtype: float64

Imputed value would be 21.5

Passenger: 596
[ 0.58707034 -0.36936484 -0.4745452  -0.47367361  0.03617231  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[596 576 635 526 458 747 443 387]
7 closest neigbors to passenger 596 and their values for Age:
596     NaN
576    34.0
635    28.0
526    50.0
458    50.0
747    30.0
443    28.0
387    36.0
Name: Age, dtype: float64

Imputed value would be 36.5

Passenger: 598
[ 0.59484611  0.82737724 -0.4745452  -0.47367361 -0.55549557 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[598 584 568 661 531 524 522 693]
7 closest neigbors to passenger 598 and their values for Age:
598     NaN
584    27.5
568    27.5
661    40.0
531    24.5
524    24.5
522    24.5
693    25.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 601
[ 0.60650976  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[601 603 606 592 611 590 589 588]
7 closest neigbors to passenger 601 and their values for Age:
601     NaN
603    44.0
606    30.0
592    47.0
611     NaN
590    35.0
589    32.5
588    22.0
Name: Age, dtype: float64

Imputed value would be 35.5

Passenger: 602
[ 0.61039764 -1.56610693 -0.4745452  -0.47367361  0.25195031 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[602 555 545 694 467 633 607 507]
7 closest neigbors to passenger 602 and their values for Age:
602     NaN
555    62.0
545    64.0
694    60.0
467    56.0
633     NaN
607    27.0
507    50.5
Name: Age, dtype: float64

Imputed value would be 53.5

Passenger: 611
[ 0.64538859  0.82737724 -0.4745452  -0.47367361 -0.55951271 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[611 614 606 603 601 623 628 592]
7 closest neigbors to passenger 611 and their values for Age:
611     NaN
614    35.0
606    30.0
603    44.0
601    35.5
623    21.0
628    26.0
592    47.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 612
[ 0.64927647  0.82737724  0.43279337 -0.47367361 -0.36554206  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[612 573 653 697 727 368 359 358]
7 closest neigbors to passenger 612 and their values for Age:
612     NaN
573    18.5
653     NaN
697     NaN
727     NaN
368    18.5
359    18.5
358    18.5
Name: Age, dtype: float64

Imputed value would be 18.5

Passenger: 613
[ 0.65316435  0.82737724 -0.4745452  -0.47367361 -0.54344414 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[613 629 560 552 525 703 718 749]
7 closest neigbors to passenger 613 and their values for Age:
613     NaN
629     NaN
560    38.5
552    38.5
525    40.5
703    25.0
718     NaN
749    31.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 629
[ 0.71537048  0.82737724 -0.4745452  -0.47367361 -0.54382749 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[629 613 560 703 552 718 525 749]
7 closest neigbors to passenger 629 and their values for Age:
629     NaN
613    34.5
560    38.5
703    25.0
552    38.5
718     NaN
525    40.5
749    31.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 633
[ 0.73092201 -1.56610693 -0.4745452  -0.47367361 -0.72134622 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[633 694 555 545 822 467 602 674]
7 closest neigbors to passenger 633 and their values for Age:
633     NaN
694    60.0
555    62.0
545    64.0
822    38.0
467    56.0
602    53.5
674     NaN
Name: Age, dtype: float64

Imputed value would be 55.5

Passenger: 639
[ 0.75424931  0.82737724  0.43279337 -0.47367361 -0.351769   -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[639 605 704 721 743 490 477 451]
7 closest neigbors to passenger 639 and their values for Age:
639     NaN
605    36.0
704    26.0
721    17.0
743    24.0
490    26.5
477    29.0
451    26.5
Name: Age, dtype: float64

Imputed value would be 26.5

Passenger: 643
[ 0.76980084  0.82737724 -0.4745452  -0.47367361  0.57552091 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[643 692 509 838 579 569 744 826]
7 closest neigbors to passenger 643 and their values for Age:
643     NaN
692     NaN
509    26.0
838    32.0
579    32.0
569    32.0
744    31.0
826     NaN
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 648
[ 0.78924026  0.82737724 -0.4745452  -0.47367361 -0.54803516 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[648 646 650 652 640 656 636 663]
7 closest neigbors to passenger 648 and their values for Age:
648     NaN
646    19.0
650     NaN
652    21.0
640    20.0
656     NaN
636    32.0
663    36.0
Name: Age, dtype: float64

Imputed value would be 25.5

Passenger: 650
[ 0.79701603  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[650 648 652 646 656 640 663 636]
7 closest neigbors to passenger 650 and their values for Age:
650     NaN
648    25.5
652    21.0
646    19.0
656     NaN
640    20.0
663    36.0
636    32.0
Name: Age, dtype: float64

Imputed value would be 25.5

Passenger: 653
[ 0.80867967  0.82737724 -0.4745452  -0.47367361 -0.54162609  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[653 697 727 573 612 654 680 767]
7 closest neigbors to passenger 653 and their values for Age:
653     NaN
697     NaN
727     NaN
573    18.5
612    18.5
654    18.0
680     NaN
767    30.5
Name: Age, dtype: float64

Imputed value would be 21.5

Passenger: 656
[ 0.82034332  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[656 652 650 663 648 646 667 668]
7 closest neigbors to passenger 656 and their values for Age:
656     NaN
652    21.0
650    25.5
663    36.0
648    25.5
646    19.0
667     NaN
668    43.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 667
[ 0.86311004  0.82737724 -0.4745452  -0.47367361 -0.54287026 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[667 668 663 675 676 656 652 650]
7 closest neigbors to passenger 667 and their values for Age:
667     NaN
668    43.0
663    36.0
675    18.0
676    24.5
656    28.5
652    21.0
650    25.5
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 669
[ 0.8708858  -1.56610693  0.43279337 -0.47367361  0.47231934  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268 -0.30756234  0.61583843]
[669 571 486 230 151   3 268 710]
7 closest neigbors to passenger 669 and their values for Age:
669     NaN
571    53.0
486    35.0
230    35.0
151    22.0
3      35.0
268    58.0
710    24.0
Name: Age, dtype: float64

Imputed value would be 37.5

Passenger: 674
[ 0.89032522 -0.36936484 -0.4745452  -0.47367361 -0.72134622 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[674 732 672 666 658 695 619 714]
7 closest neigbors to passenger 674 and their values for Age:
674     NaN
732     NaN
672    70.0
666    25.0
658    23.0
695    52.0
619    26.0
714    52.0
Name: Age, dtype: float64

Imputed value would be 41.5

Passenger: 680
[ 0.91365252  0.82737724 -0.4745452  -0.47367361 -0.53454903  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[680 654 767 502 501 697 653 727]
7 closest neigbors to passenger 680 and their values for Age:
680     NaN
654    18.0
767    30.5
502    21.5
501    21.0
697     NaN
653    21.5
727     NaN
Name: Age, dtype: float64

Imputed value would be 22.5

Passenger: 692
[ 0.96030711  0.82737724 -0.4745452  -0.47367361  0.57552091 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268 -0.30756234  0.61583843]
[692 643 838 509 826 744 579 821]
7 closest neigbors to passenger 692 and their values for Age:
692     NaN
643    30.5
838    32.0
509    26.0
826     NaN
744    31.0
579    32.0
821    27.0
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 697
[ 0.97974653  0.82737724 -0.4745452  -0.47367361 -0.54382749  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[697 727 653 573 612 680 654 767]
7 closest neigbors to passenger 697 and their values for Age:
697     NaN
727     NaN
653    21.5
573    18.5
612    18.5
680    22.5
654    18.0
767    30.5
Name: Age, dtype: float64

Imputed value would be 21.5

Passenger: 709
[ 1.02640113  0.82737724  0.43279337  0.76762988 -0.37137725 -0.73769513
  0.73769513  4.61248306 -0.50665528 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.          2.0745051  -0.30756234 -1.62380254]
[709 803 827  65 125 869 489 755]
7 closest neigbors to passenger 709 and their values for Age:
709      NaN
803     0.42
827     1.00
65      5.50
125    12.00
869     4.00
489     9.00
755     0.67
Name: Age, dtype: float64

Imputed value would be 4.5

Passenger: 711
[ 1.03417689 -1.56610693 -0.4745452  -0.47367361 -0.11188813 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    0.         -0.48204268 -0.30756234  0.61583843]
[711 492 351 449 712 331 430 741]
7 closest neigbors to passenger 711 and their values for Age:
711     NaN
492    55.0
351    48.5
449    52.0
712    48.0
331    45.5
430    28.0
741    36.0
Name: Age, dtype: float64

Imputed value would be 44.5

Passenger: 718
[ 1.06139207  0.82737724 -0.4745452  -0.47367361 -0.36554206 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[718 703 749 778 790 629 613 825]
7 closest neigbors to passenger 718 and their values for Age:
718     NaN
703    25.0
749    31.0
778     NaN
790     NaN
629    34.5
613    34.5
825     NaN
Name: Age, dtype: float64

Imputed value would be 31.5

Passenger: 727
[ 1.09638302  0.82737724 -0.4745452  -0.47367361 -0.54373108  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[727 697 653 573 767 680 612 654]
7 closest neigbors to passenger 727 and their values for Age:
727     NaN
697    21.5
653    21.5
573    18.5
767    30.5
680    22.5
612    18.5
654    18.0
Name: Age, dtype: float64

Imputed value would be 21.5

Passenger: 732
[ 1.11582244 -0.36936484 -0.4745452  -0.47367361 -0.72134622 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[732 674 757 733 734 723 722 714]
7 closest neigbors to passenger 732 and their values for Age:
732     NaN
674    41.5
757    18.0
733    23.0
734    23.0
723    50.0
722    34.0
714    52.0
Name: Age, dtype: float64

Imputed value would be 34.5

Passenger: 738
[ 1.13914973  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[738 739 725 753 752 756 719 758]
7 closest neigbors to passenger 738 and their values for Age:
738     NaN
739     NaN
725    20.0
753    23.0
752    33.0
756    28.0
719    33.0
758    34.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 739
[ 1.14303762  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[739 738 753 725 752 756 758 719]
7 closest neigbors to passenger 739 and their values for Age:
739     NaN
738    28.5
753    23.0
725    20.0
752    33.0
756    28.0
758    34.0
719    33.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 740
[ 1.1469255  -1.56610693 -0.4745452  -0.47367361 -0.03269301 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582  5.09901951 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.         -0.48204268 -0.30756234  0.61583843]
[740 782 625 621 515 748 248  21]
7 closest neigbors to passenger 740 and their values for Age:
740     NaN
782    29.0
625    61.0
621    42.0
515    47.0
748    19.0
248    37.0
21     34.0
Name: Age, dtype: float64

Imputed value would be 38.5

Passenger: 760
[ 1.22468316  0.82737724 -0.4745452  -0.47367361 -0.38849717 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[760 735 752 770 769 758 753 756]
7 closest neigbors to passenger 760 and their values for Age:
760     NaN
735    28.5
752    33.0
770    24.0
769    32.0
758    34.0
753    23.0
756    28.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 766
[ 1.24801046 -1.56610693 -0.4745452  -0.47367361  0.18767601 -0.73769513
  0.73769513 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[766 513 793 874 493 604 375 256]
7 closest neigbors to passenger 766 and their values for Age:
766     NaN
513    54.0
793     NaN
874    28.0
493    71.0
604    35.0
375    29.5
256    34.5
Name: Age, dtype: float64

Imputed value would be 42.5

Passenger: 768
[ 1.25578622  0.82737724  0.43279337 -0.47367361 -0.16698039 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[768 718 778 749 790 825 703 890]
7 closest neigbors to passenger 768 and their values for Age:
768     NaN
718    31.5
778     NaN
749    31.0
790     NaN
825     NaN
703    25.0
890    32.0
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 773
[ 1.27522564  0.82737724 -0.4745452  -0.47367361 -0.55549557 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]

7 closest neigbors to passenger 815 and their values for Age:
815     NaN
872    33.0
536    45.0
671    31.0
690    31.0
263    40.0
745    70.0
170    61.0
Name: Age, dtype: float64

Imputed value would be 44.5

Passenger: 825
[ 1.47739556  0.82737724 -0.4745452  -0.47367361 -0.56180822 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268  3.25137334 -1.62380254]
[825 790 778 890 749 718 703 629]
7 closest neigbors to passenger 825 and their values for Age:
825     NaN
790    30.5
778    30.5
890    32.0
749    31.0
718    31.5
703    25.0
629    34.5
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 826
[ 1.48128344  0.82737724 -0.4745452  -0.47367361  0.57552091 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[826 811 735 760 838 876 868 836]
7 closest neigbors to passenger 826 and their values for Age:
826     NaN
811    39.0
735    28.5
760    28.5
838    32.0
876    20.0
868     NaN
836    21.0
Name: Age, dtype: float64

Imputed value would be 28.5

Passenger: 828
[ 1.48905921  0.82737724 -0.4745452  -0.47367361 -0.54344414 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  1.         -0.48204268  3.25137334 -1.62380254]
[828 825 790 778 890 749 718 703]
7 closest neigbors to passenger 828 and their values for Age:
828     NaN
825    30.5
790    30.5
778    30.5
890    32.0
749    31.0
718    31.5
703    25.0
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 832
[ 1.50461074  0.82737724 -0.4745452  -0.47367361 -0.55539916 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[832 843 847 859 798 773 731 693]
7 closest neigbors to passenger 832 and their values for Age:
832     NaN
843    34.5
847    35.0
859     NaN
798    30.0
773    27.5
731    11.0
693    25.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 837
[ 1.52405016  0.82737724 -0.4745452  -0.47367361 -0.53655761 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[837 840 834 836 833 844 845 851]
7 closest neigbors to passenger 837 and their values for Age:
837     NaN
840    20.0
834    18.0
836    21.0
833    23.0
844    17.0
845    42.0
851    74.0
Name: Age, dtype: float64

Imputed value would be 30.5

Passenger: 839
[ 1.53182592 -1.56610693 -0.4745452  -0.47367361 -0.03957954 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.          2.0745051  -0.30756234 -1.62380254]
[839 889 452 453 544 505 698 273]
7 closest neigbors to passenger 839 and their values for Age:
839     NaN
889    26.0
452    30.0
453    49.0
544    50.0
505    18.0
698    49.0
273    37.0
Name: Age, dtype: float64

Imputed value would be 37.5

Passenger: 846
[ 1.5590411   0.82737724  6.7841633   2.00893337  0.87518146 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[846 324 201 683 686 863 792 266]
7 closest neigbors to passenger 846 and their values for Age:
846     NaN
324    13.5
201    13.5
683    14.0
686    14.0
863     NaN
792    10.5
266    16.0
Name: Age, dtype: float64

Imputed value would be 13.5

Passenger: 849
[ 1.57070475 -1.56610693  0.43279337 -0.47367361  1.32405021  1.35557354
 -1.35557354 -0.21680296 -0.50665528 -1.21449578  2.33591989 -0.13085598
 -0.23598136  3.75522235 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008 -1.835115    1.          2.0745051  -0.30756234 -1.62380254]
[849 710 879 581 307 700   1 669]
7 closest neigbors to passenger 849 and their values for Age:
849     NaN
710    24.0
879    56.0
581    39.0
307    17.0
700    18.0
1      38.0
669    37.5
Name: Age, dtype: float64

Imputed value would be 32.5

Passenger: 859
[ 1.60958358  0.82737724 -0.4745452  -0.47367361 -0.55539916 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.          2.0745051  -0.30756234 -1.62380254]
[859 847 843 832 798 773 731 693]
7 closest neigbors to passenger 859 and their values for Age:
859     NaN
847    35.0
843    34.5
832    27.5
798    30.0
773    27.5
731    11.0
693    25.0
Name: Age, dtype: float64

Imputed value would be 27.5

Passenger: 863
[ 1.62513511  0.82737724  6.7841633   2.00893337  0.87518146  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[863 792 180 813 542 541  71 846]
7 closest neigbors to passenger 863 and their values for Age:
863     NaN
792    10.5
180     8.5
813     6.0
542    11.0
541     9.0
71     16.0
846    13.5
Name: Age, dtype: float64

Imputed value would be 10.5

Passenger: 868
[ 1.64457453  0.82737724 -0.4745452  -0.47367361 -0.5032727  -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[868 873 876 870 877 878 881 851]
7 closest neigbors to passenger 868 and their values for Age:
868     NaN
873    47.0
876    20.0
870    26.0
877    19.0
878     NaN
881    33.0
851    74.0
Name: Age, dtype: float64

Imputed value would be 36.5

Passenger: 878
[ 1.68345336  0.82737724 -0.4745452  -0.47367361 -0.54009728 -0.73769513
  0.73769513 -0.21680296 -0.50665528  0.82338697 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[878 877 881 884 870 873 876 868]
7 closest neigbors to passenger 878 and their values for Age:
878     NaN
877    19.0
881    33.0
884    25.0
870    26.0
873    47.0
876    20.0
868    36.5
Name: Age, dtype: float64

Imputed value would be 29.5

Passenger: 888
[ 1.72233219  0.82737724  0.43279337  2.00893337 -0.18304896  1.35557354
 -1.35557354 -0.21680296  1.97372855 -1.21449578 -0.42809687 -0.13085598
 -0.23598136 -0.26629582 -0.19611614 -0.19611614 -0.11684125 -0.06715343
 -0.03352008  0.54492498  0.         -0.48204268 -0.30756234  0.61583843]
[888 436 419 642 750 634 615 535]
7 closest neigbors to passenger 888 and their values for Age:
888     NaN
436    21.0
419    10.0
642     2.0
750     4.0
634     9.0
615    24.0
535     7.0
Name: Age, dtype: float64

Imputed value would be 11.5

New number of null values in "Age" column: 0

In [16]:
from sklearn.decomposition import PCA

sc_training = StandardScaler()
tmp = train_set.copy().drop(['Survived'], axis = 1).values

sc_training = sc_training.fit(tmp)

train_no_surv = train_set.copy().drop('Survived', axis=1)
train_no_surv = sc_training.transform(train_no_surv)

pca = PCA()
pca.fit(train_no_surv)

t = pca.transform(train_no_surv)

died = t[np.array(train_set['Survived']==0),:]
survived = t[np.array(train_set['Survived']==1),:]
components = [0,1]

from matplotlib import pyplot as pp
pp.scatter(died[:,components[0]].reshape(1,-1), died[:,components[1]].reshape(1,-1), color='red', alpha=.5, label='Died')
pp.scatter(survived[:,components[0]].reshape(1,-1), survived[:,components[1]].reshape(1,-1), color='green', alpha=.5, label='Survived')
pp.legend(loc='best', shadow=False, scatterpoints=1)
pp.title('PCA of train_no_surv')
pp.xlabel('Principal component {}'.format(components[0]+1))
pp.ylabel('Principal component {}'.format(components[1]+1))
pp.show()

In [17]:
columns = ['PassengerId',  'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Deck_Unknown', 'Embarked_C', 'Embarked_Q', 'Embarked_S']

In [18]:
train_set_df = train_set
train_labels = train_set['Survived'].values.ravel()
train_set = train_set[columns].values

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

overall_res = pd.DataFrame(columns=['Classifier', 'Best_clf_retrained', 'Best_test_score'])

In [19]:
# NAIVE BAYES

from sklearn.naive_bayes import GaussianNB
clf_name = 'GaussianNB'

sc = StandardScaler()
clf = GaussianNB()

pipeline = Pipeline([('scaler',sc),('clf',clf)])
fit_params = {}

gs = GridSearchCV(pipeline, fit_params, cv = 7, n_jobs =-1)
gs.fit(train_set,train_labels)

cv = pd.DataFrame(gs.cv_results_)

overall_res = overall_res.append({'Classifier': clf_name,'Best_clf_retrained': gs.best_estimator_.fit(train_set, train_labels),'Best_test_score':gs.best_score_},ignore_index=True);
print('Best score in CV fitting: {}'.format(gs.best_score_))

Best score in CV fitting: 0.727272727273

C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split5_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split6_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\bills\Anaconda2\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

In [20]:
# Desicion Tree clf

from sklearn.tree import DecisionTreeClassifier
clf_name = 'DecisionTree'

sc = StandardScaler()
clf = DecisionTreeClassifier()
pipeline = Pipeline([('scaler',sc),('clf',clf)])

fit_params = {'clf__criterion':['gini', 'entropy'],'clf__min_samples_split':[2,3,4,5,6,7,8,9,10,12,14,16,18,20,22,24,26,28,30,32],
    'clf__min_samples_leaf':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]}

gs = GridSearchCV(pipeline, fit_params, cv=7, n_jobs=-1)
# Fit GridSearchCV
gs.fit(train_set, train_labels)

cv = pd.DataFrame(gs.cv_results_) # To check all the classifier performances

overall_res = overall_res.append({'Classifier': clf_name, 'Best_clf_retrained': 
                            gs.best_estimator_.fit(train_set, train_labels), 
                            'Best_test_score': gs.best_score_}, ignore_index=True);
print('Best performing classifier parameters (score {}):\n{}'.format(gs.best_score_,gs.best_params_))

Best performing classifier parameters (score 0.828282828283):
{'clf__criterion': 'gini', 'clf__min_samples_leaf': 9, 'clf__min_samples_split': 26}

In [21]:
from sklearn.svm import SVC
clf_name = 'SVM'

sc = StandardScaler()
clf = SVC()
# Make pipeline
pipeline = Pipeline([('scaler',sc),('clf',clf)])
fit_params = {'clf__kernel':['rbf','linear', 'poly'],'clf__degree':[2, 3, 4, 5]}
# Initiate GridSearchCV
gs = GridSearchCV(pipeline, fit_params, cv=7, n_jobs=-1)

gs.fit(train_set, train_labels)

cv = pd.DataFrame(gs.cv_results_) # To check all the classifier performances

overall_res = overall_res.append({'Classifier': clf_name, 'Best_clf_retrained': 
                            gs.best_estimator_.fit(train_set, train_labels), 
                            'Best_test_score': gs.best_score_}, ignore_index=True);
print('Best performing classifier parameters (score {}):\n{}'.format(gs.best_score_,gs.best_params_))

Best performing classifier parameters (score 0.828282828283):
{'clf__degree': 2, 'clf__kernel': 'rbf'}

In [26]:
from sklearn.neighbors import KNeighborsClassifier as KNC

clf_name = 'KNN'

sc = StandardScaler()
clf = KNC()
# Make pipeline
pipeline = Pipeline([('sc', sc),('clf', clf)])
fit_params = {'clf__n_neighbors':[2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,20,25,30,40],
                 'clf__weights':['uniform','distance'],
                 'clf__p':[1, 2]}
# Initiate GridSearchCV
gs = GridSearchCV(pipeline, fit_params, cv=7, n_jobs=-1)
# Fit GridSearchCV
gs.fit(train_set, train_labels)

cv = pd.DataFrame(gs.cv_results_) # To check all the classifier performances

overall_res = overall_res.append({'Classifier': clf_name, 'Best_clf_retrained': 
                            gs.best_estimator_.fit(train_set, train_labels), 
                            'Best_test_score': gs.best_score_}, ignore_index=True);
print('Best performing classifier parameters (score {}):\n{}'.format(gs.best_score_,gs.best_params_))

Best performing classifier parameters (score 0.833894500561):
{'clf__weights': 'uniform', 'clf__p': 1, 'clf__n_neighbors': 10}

In [ ]:
# Random Forest classifier
from sklearn.ensemble import RandomForestClassifier as RFC
clf_name = 'RandomForest'

sc = StandardScaler()
clf = RFC()
# Make pipeline
pipeline = Pipeline([('sc', sc),('clf', clf)])
fit_params = {'clf__n_estimators':[100],
              'clf__min_samples_split':[2,3,4,5,6,7,8,9,10,11,12,13,16],
              'clf__min_samples_leaf':[1,2,3,4,5,6,7],
              'clf__max_features':[None,'auto']}
# Initiate GridSearchCV
gs = GridSearchCV(pipeline, fit_params, cv=7, n_jobs=-1)
# Fit GridSearchCV
gs.fit(train_set, train_labels)

cv = pd.DataFrame(gs.cv_results_) # To check all the classifier performances

overall_res = overall_res.append({'Classifier': clf_name, 'Best_clf_retrained': 
                            gs.best_estimator_.fit(train_set, train_labels), 
                            'Best_test_score': gs.best_score_}, ignore_index=True);
print('Best performing classifier parameters (score {}):\n{}'.format(gs.best_score_,gs.best_params_))

In [ ]:
# AdaBoost classifier
from sklearn.ensemble import AdaBoostClassifier as ABC
clf_name = 'AdaBoost'

sc = StandardScaler()
clf = ABC()
# Make pipeline
pipeline = Pipeline([('sc', sc),('clf', clf)])